{% extends "voc2.j2" %}

{% block summary %}
<p>
Data worden steeds vaker gedeeld, uitgewisseld en gebruikt voor andere doeleinden dan de dan die waarvoor zij bestemd zijn. Informatie over de kwaliteit van de gegevens is van vitaal belang voor het selectieproces van een gegevensreeks, omdat de waarde van gegevens rechtstreeks verband houdt met de kwaliteit ervan. Een gebruiker van gegevens kan uit verschillende gegevensreeksen kunnen kiezen. Daarom is het nodig de kwaliteit van de gegevensreeksen te vergelijken om te bepalen welke het best aan de eisen van de gebruiker voldoet. Het doel van de beschrijving van de kwaliteit is de vergelijking en selectie te vergemakkelijken van de gegevensset die het best aan de behoeften of eisen van de toepassing voldoet. 
</p>
<p>
Volledige beschrijvingen van de kwaliteit van een gegevensreeks zal het delen, uitwisselen en gebruiken van geschikte gegevensreeksen aanmoedigen. Informatie over de kwaliteit van de gegevens stelt een gegevensproducent in staat te beoordelen hoe goed een gegevensset voldoet aan de criteria die in zijn productspecificatie zijn opgenomen en helpt gebruikers van gegevens bij de beoordeling van de geschiktheid van een product om te voldoen  aan de eisen voor hun specifieke toepassing. Ten behoeve van deze evaluatie worden duidelijk omschreven procedures op een consistente manier worden gebruikt.
</p>
<p> 
Om vergelijkingen mogelijk te maken, is het van essentieel belang dat de resultaten van de kwaliteitsrapporten op een vergelijkbare wijze worden uitgedrukt en dat er een gemeenschappelijk begrip is van de kwaliteitsmaatregelen die zijn gebruikt. Deze kwaliteitsmaatstaven bieden descriptoren voor de kwaliteit van de gegevens door vergelijking met het universum van het discours. Het gebruik van niet-compatibele maatstaven maakt onmogelijk om vergelijkingen te maken. Deze internationale norm standaardiseert de componenten en structuren van maatstaven voor gegevenskwaliteit en definieert algemeen gebruikte maatstaven voor gegevenskwaliteit.
</p>
<p> 
Het vocabularium OSLO Datakwaliteit erkent dat een gegevensproducent en een gegevensgebruiker de kwaliteit van gegevens vanuit verschillende perspectieven kunnen bekijken. Conformiteitskwaliteitsniveaus kunnen worden vastgesteld aan de hand van de productspecificatie van de gegevensproducent product van de gegevensproducent of op basis van de eisen inzake gegevenskwaliteit van een gebruiker van de gegevens. Indien de gegevensgebruiker meer informatie over de gegevenskwaliteit wenst dan die welke door de gegevensproducent wordt verstrekt, kan de gegevensgebruiker de processtroom voor de evaluatie van de gegevenskwaliteit van de gegevensproducent volgen om de aanvullende informatie te verkrijgen.
</p>
<p> 
Het doel van dit vocabularium is beginselen aan te reiken voor de beschrijving van de kwaliteit van gegevens  en concepten voor het verwerken van kwaliteitsinformatie, en een consistente en standaardmanier om de kwaliteitsinformatie van een gegevensset te bepalen en te rapporteren. Het beoogt tevens te voorzien in richtlijnen te geven voor evaluatieprocedures van kwantitatieve kwaliteitsinformatie.
</p>
{% endblock %}
