{% extends "ap2.j2" %}

{% block summary %}
<p>Vul hier een samenvatting van mijn applicatieprofiel in.</p>

<p>ISO 19157 (en indirect ISO 19115 en ISO 19103)</p>

<a href="https://data.vlaanderen.be/ns/datakwaliteit">vocabularium</a>

<a href="https://test.data.vlaanderen.be/ns/datakwaliteit/ontwerpstandaard/2022-01-26">vocabularium test ontwerp</a>

{% endblock %}
