{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel toont hoe de termen uit het <a href="https://data.vlaanderen.be/ns/datakwaliteit/">OSLO</a> vocabularium Datakwaliteit (dat gebaseerd is op <a href="https://www.iso.org/standard/32575.html">ISO19157:2013</a>) gebruikt moeten worden voor het beschrijven van datakwaliteit.</p>
<p>Dit applicatieprofiel laat toe de kwaliteit van data te beschrijven, ttz de mate waarin data potentieel geschikt is voor een bepaald gebruik. </p>
<p>We weerhielden enkel wat noodzakelijk is om aspecten van kwaliteit te beschrijven op het kleinste granulair niveau, bvb wel de positionele nauwkeurigheid van een locatie maar niet die van een volledige geografische dataset. </p>
<p>Aspecten zoals doel, gebruik en herkomst van data vallen onder metadata en worden hier niet beschouwd. </p>
<p>Het profiel draait rond de klasse Kwaliteitselement waarvan de instanties één bepaald kwaliteitsaspect beschrijven dmv een bepaalde maat verkregen volgens een bepaalde methode. </p>
<p>De aspecten worden ingedeeld als subklassen van Kwaliteitselement en omvatten zaken als nauwkeurigheid, volledigheid en consistentie. Voor subklassen daarvan verwijzen we naar ISO1957 en de overeenkomstige uri’s in <a href="https://def.isotc211.org/ontologies/iso19157/2013/DataQuality_2.rdf">isotc211:DataQuality</a>.</p>
<p>Een individueel kwaliteitsaspect wordt beschouwd als een observatie met een kwantitatief resultaat of een conformiteitsverklaring of een kwaliteitsbeschrijving. </p>
<p>Daarbij kan de methode worden vermeld die tot dat resultaat heeft geleid en een referentie naar de gebruikte maat om de kwaliteit uit te drukken. </p>
{% endblock %}
