{% extends "voc2.j2" %}

{% block summary %}
<p>Vul hier een samenvatting van mijn vocabularium in.</p>

<p>ISO 19157 (en indirect ISO 19115 en ISO 19103)</p>

<a href="https://data.vlaanderen.be/doc/applicatieprofiel">applicatieprofiel</a>

<a href="https://test.data.vlaanderen.be/doc/applicatieprofiel/ontwerpstandaard/2022-01-26">applicatieprofiel test ontwerp</a>

{% endblock %}
