{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium OSLO Datakwaliteit is gebaseerd op <a href=” https://www.iso.org/standard/32575.html”>ISO19157:2013</a>, een standaard voor het beschrijven van datakwaliteit.</p>
<p>ISO19157 is bedoeld voor geografische data, maar stemt overeen met wat <a href=” https://www.iso.org/standard/35736.html”>ISO:25012</a> (standaard voor het beschrijven van de datakwaliteit van softwareproducten) verstaat onder “systeemonafhankelijke datakwaliteit”. </p>
<p>Het vocabularium voorziet termen om te beschrijven in welke mate data potentieel geschikt is voor een bepaald gebruik. .</p>
<p>Kwaliteitselement en subklassen daarvan beschrijven verschillende aspecten van kwaliteit zoals nauwkeurigheid, volledigheid en consistentie en verdere onderverdelingen daarvan beschreven in ISO1957 (zie <a href=” https://def.isotc211.org/ontologies/iso19157/2013/DataQuality_2.rdf”>isotc211:DataQuality</a> voor de overeenkomstige uri’s). .</p>
<p>Behalve de kwaliteit zelf, is het mogelijk om te specifiëren welke kwaliteitsmaat werd gebruikt en met welke methode ze werd berekend. .</p>
<p>De kwaliteit kan kwantitatief worden uitgedrukt of tekstueel worden beschreven of er kan worden aangegeven of de data conform is of niet. .</p>
{% endblock %}
