{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel OSLO Statistiek toont hoe begrippen uit het gelijknamig <a href="https://data.vlaanderen.be/ns/statistiek/">vocabularium</a< gebruikt moeten worden om een StatistischeObservatie te beschrijven. </p>
<p>Onder een StatistischeObservatie verstaan we een Observatie waarvan het resultaat een Statistiek is. Dit is nuttig om het onderscheid te kunnen maken tussen bvb een individuele meting of een meting die het gemiddelde is van een aantal individuele metingen. </p>  
<p>Statistiek als discipline houdt zich bezig met het verwerven van inzicht in een bepaald fenomeen dmv cijfers. </p>
<p>De verzamelde data wordt daarbij herleid tot wat we een Statistiek noemen, eerder dan het individuele cijfer verstaan we er informatie onder die een bepaald kenmerk van de dataset in zijn geheel of van een variabele uit de dataset beschrijft. </p>
<p>We baseerden ons op het <a href="https://www.researchgate.net/publication/292315529_Uncertainty_Markup_Language_OGC_08-122r2">UNCERT model</a> voor het beschrijven van deze klasse.</p>
<p>Typisch zijn dit samenvattende maten zoals gemiddelde, mediaan, totaal of een index. Of het gaat om maten die iets zeggen over de verdeling van de cijfers, bvb minimum/maximum, standaarddeviatie en dergelijke. Ook de classificatie van het oorspronkelijk gegeven op een schaal of volgens een typologie valt hieronder. </p>
<p>Gewoon een waarde en een type volstaan om dergelijke Statistieken te beschrijven. </p>
<p>In een aantal gevallen is echter extra info nodig om de Statistiek te beschrijven, deze gevallen worden gedekt door specialisaties van de klasse Statistiek, ttz de klasse Kwantiel, Moment, DiscreteProbabiliteit en Probabiliteit. </p>
<p>De codelijst met Statistiektypes is illustratief maar geeft een idee van welke soorten Statistieken met dit applicatieprofiel kunnen beschreven worden. </p>
{% endblock %}
