{% extends "ap2.j2" %}

{% block summary %}
<p>Vul hier een samenvatting van mijn applicatieprofiel in.</p>

UnCertML https://portal.ogc.org/files/?artifact_id=33234

<a href="https://test.data.vlaanderen.be/doc/vocabularium/statistiek/ontwerpstandaard/2022-01-26">vocabularium test ontwerp</a>

<a href="https://test.data.vlaanderen.be/ns/statistiek">vocabularium</a>

{% endblock %}
