{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium OSLO Statistiek bevat termen waarmee StatistischeObservaties kunnen worden beschreven, ttz Observaties die een Statistiek als resultaat hebben. </p>
<a>StatistischeObservatie is een specialisatie van de klasse Observatie uit het <a href="https://data.vlaanderen.be/ns/observaties-en-metingen/">vocabularium OSLO Observaties en Metingen</a>.</p>  
<p>De klasse Statistiek baseerden we op het <a href="https://www.researchgate.net/publication/292315529_Uncertainty_Markup_Language_OGC_08-122r2">UNCERT model</a>. </p>
<p>Onder Statistiek verstaan we cijfers die de kenmerken van een collectie gegevens beschrijven. </p>
<p>Het kan zowel gaan over samenvattende maten zoals het gemiddelde, de mediaan, een totaal of een index of over maten die iets zeggen over de spreiding van de gegevens zoals het minimum of maximum, de standaarddeviatie etc. of over de kans dat een waarde voorkomt of overschreden wordt. </p>
<p>Enkele subklassen zijn voorzien voor het geval extra info nodig is om de Statistiek te beschrijven, bvb als deze betrekking heeft op een Kwantiel, een Moment of een Discrete- of gewone Probabiliteit. </p>
{% endblock %}
