{% extends "ap2.j2" %}

{% block summary %}
<p>
Het applicatieprofiel OSLO Waterkwaliteit toont hoe begrippen uit het overeenstemmend vocabularium gebruikt moeten worden om datastromen inzake datakwaliteit semantisch te verrijken, wat data over waterkwaliteit beter vindbaar en begrijpbaar zal maken, alsook beter combineerbaar met andere databronnen. 
</p>
<p>
De centrale klasse in het applicatieprofiel is de klasse ‘Observatie’. Deze klasse werd overgenomen uit OSLO-ObservatiesEnMetingen en laat toe om eender welk observatietype te beschrijven. Verder werden er 6 specifieke waterkwaliteit observaties beschreven, namelijk BiotischeIndexObservatie, BioindicatorObservatie, WaterkwaliteitParameterObservatie, ChemischAgensConcentratieObservatie, HydromorfologischeObservatie en ChemischAgensVrachtObservatie. Voor de specifieke betekenis van deze klassen verwijzen we naar het applicatieprofiel en het vocabularium. 
</p>
<p>
Bovendien biedt dit applicatieprofiel ook de kans om te kunnen spreken over de objecten die geobserveerd worden. Daarnaast laat het ook toe om deze object te specifiëren tot waterobjecten, bemonsteringsobjecten, ruimtelijk bemosteringsobjecten, emissies en emissiebronnen. Via deze weg stelt het applicatieprofiel de gebruiker in staat om een meetpunt te relateren aan de observatie. Deze meetpunten kunnen op hun beurt geaggregeerd worden tot een meetnet. 
</p>
<p>
Enumeraties worden in principe buiten het applicatieprofiel beschreven, de enumeraties die in het diagram weergegeven worden, zijn illustratief. 
</p>
{% endblock %}
