{% extends "ap2.j2" %}

{% block summary %}
<p>
Het applicatieprofiel OSLO Waterkwaliteit toont hoe begrippen uit het Europees <a href="https://purl.eu/ns/air-and-water/water/">vocabularium ODALA Water</a> aangevuld met deze uit het <a href="https://data.vlaanderen.be/ns/waterkwaliteit/">vocabularium OSLO waterkwaliteit</a> gebruikt moeten worden om data over waterkwaliteit semantisch te verrijken zodat deze beter vindbaar en begrijpelijk wordt en beter combineerbaar met andere databronnen. 
</p>
<p>
Observatie is de centrale klasse in het applicatieprofiel. Deze klasse uit <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/">OSLO Observaties & Metingen</a> (en verder aangevuld in <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering/">OSLO Sensoren & Bemonstering</a>) laat toe om eender welk type Observatie te beschrijven. Voor Waterkwaliteit werd de klasse echter verder gespecialiseerd voor Biotische Indexen, Bio-indicatoren, fysische parameters van Waterkwaliteit, concentraties en vracht van Chemische stoffen en voor Hydromorfologie.
</p>
<p>
De objecten waarvan deze kenmerken kunnen worden beschreven zijn Domeinobjecten of Bemonsteringsobjecten en hun subklassen uit Observaties & Metingen en Sensoren & Bemonstering, maar specifiek voor waterkwaliteit werden klassen voorzien zoals Waterobjecten, Emissies en Emissiebronnen. Verder werd Meetpunt als Bemonsteringsobject toegevoegd. Meetpunten kunnen geaggregeerd worden tot Meetnet.
</p>
<p>
Voor het beschrijven van de kwaliteit van de Observaties wordt verwezen naar <a href="https://data.vlaanderen.be/doc/applicatieprofiel/datakwaliteit/">OSLO Datakwaliteit</a>, voor statistische Observaties is er <a href="https://data.vlaanderen.be/doc/applicatieprofiel/statistiek/">OSLO Statistiek</a>.
</p>
<p>
Codelijsten worden in principe buiten het applicatieprofiel beschreven, de enumeraties die in het diagram worden weergegeven zijn illustratief. In praktijk kunnen bvb <a href="https://data.omgeving.vlaanderen.be/doc/collection/conceptscheme">de codelijsten van het Departement Omgeving</a> gebruikt te worden. 
</p>
{% endblock %}
