{% extends "voc2.j2" %}

{% block summary %}
<p>
Het vocabularium 'OSLO Waterkwaliteit' is aanvullend op het applicatieprofiel OSLO Waterkwaliteit dat gebaseerd is op de Europese standaarden ODALA Air & Water - Core en ODALA Air & Water - Waterquality. De standaard richt zich op het interoperabel ontsluiten van data en bijbehorende contextuele informatie inzake waterkwaliteit. Het datamodel en het vocabularium werden opgesteld om op een eenduidige manier data te kunnen uitwisselen tussen organisaties die betrokken zijn in de milieuwetgeving rond waterkwaliteit.
</p>
<p>
Daarnaast definieert dit vocabularium enkele eigen termen. Deze zijn te vinden onder Klassen en Eigenschappen, terwijl de gemapte termen opgelijst staan onder Externe Terminologie.
</p>
{% endblock %}
